.ReservationForm {
  background-color: var(--color-white);
  padding: 32px;
  display: grid;
  gap: 34px;
  box-shadow: 0 75px 100px -50px var(--color-img-shadow);
  max-width: 540px;
  width: 100%;
}

.FormItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Input__wrapper {
  border-bottom: 1px solid var(--color-med-gray);
  padding-bottom: 14px;
}

.Date__container,
.Time__container {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.Quantity__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
}

.Quantity__btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Quantity__btn img {
  object-fit: cover;
}

.Quantity__btn:hover img {
  opacity: 0.5;
}

.Quantity__text {
  font: var(--fontHeadingM);
  letter-spacing: -0.25px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.ReservationSubmit__button {
  font: var(--fontHeadingS);
  padding: 17px 32px;
}
