.Section {
  padding: 80px 24px;
}

.Section--light {
  background-color: var(--color-white);
  color: var(--color-ebony-clay);
}

.Section--dark {
  background-color: var(--color-cod-gray);
  color: var(--color-white);
}

.Section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
}

.Section__image {
  display: block;
  object-fit: cover;
  box-shadow: 0 75px 100px -50px var(--color-img-shadow);
}

.Section__content {
  width: 100%;
  display: grid;
  gap: 36px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-rows: auto;
}

.Section__text {
  width: 100%;
  text-align: center;
  display: grid;
  gap: 13px;
}

.Section__title {
  font: var(--fontHeadingL-mobile);
  letter-spacing: -0.4px;
}

.Section__subtitle {
  display: block;
}

.Section__description {
  font: var(--fontBody2);
}

/* Features section */
.Features__section {
  --overlapWidth: 74px;
  --bottomPadding: 80px;
  padding: 0 24px var(--bottomPadding);
}

.FeaturesContainer--overlap {
  position: relative;
}

.FeaturesContainer--overlapTop {
  top: calc(-1 * var(--overlapWidth));
}

.Section:has(.FeaturesContainer--overlapTop) {
  padding-bottom: calc(var(--bottomPadding) - var(--overlapWidth));
}

.FeaturesContainer--overlap .Section__image {
  z-index: 20;
}

/* Menu section */
.Menu__list {
  display: grid;
  gap: 24px;
}

.MenuItem {
  border: none;
  display: grid;
  gap: 36px;
  padding-bottom: 28px;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "menu-img"
    "menu-text";
}

.MenuItem__image {
  grid-area: menu-img;
}

.MenuItem__text {
  grid-area: menu-text;
  width: 100%;
  text-align: center;
  display: grid;
  gap: 6px;
}

.MenuItem__title {
  font: var(--fontHeadingM);
  letter-spacing: -0.25px;
}

.MenuItem__description {
  font: var(--fontBody2);
}

.MenuItem:not(:last-of-type) {
  border-bottom: 1px solid var(--color-white-blur);
}

/* Catering section */
.Catering__section .CateringImage.CateringImage--hidden,
.Catering__section .CateringText.CateringText--hidden {
  display: none;
}

.Catering__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.CateringItem {
  position: relative;
  font: var(--fontHeadingS);
  letter-spacing: 2.5px;
  color: var(--color-ash-gray);
  opacity: 0.5;
  text-transform: uppercase;
}

.CateringItem--selected {
  opacity: 1;
}

.CateringItem--selected::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 48px;
  background: var(--color-beaver);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Reservation section */
.Reservation__section {
  background: var(--bg-ready-mobile) center no-repeat;
}

.Reservation__section .Section__container {
  gap: 20px;
}
